{% extends 'app/dummy.html' %}

{% block title %}
    <title>Home</title>
    {% endblock %}


    {% block body_block %}
<center>
    {% if username %}
    <h1>hii welcome to home page mr/ms {{username}}</h1>
    {% for qu in que %}
    <h1>{{qu.question}}</h1><br><br>
   
{% endfor %}

<a href="{% url 'questionraise' %}" class="btn btn-success"> go to post question</a>






{% else %}
<h1>welcome to home page </h1>


{% for a in que %}
   <a href="{{a.pk}}"> <h1>{{a.question}}</h1></a>
{% endfor %}

{% endif %}

</center>



    {% endblock %}