{% extends "app/dummy.html" %}
{% block title %}
    <title>login</title>
{% endblock %}

{% block body_block %}
    <center>
        <h1>user_login</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="na">Enter username</label>
            <input type="text" name="na" id="na"><br><br>
            <label for="pw">Enter password</label>
            <input type="password" name="pw" id="pw"><br><br>
            <input type="submit" value="user_login">
        </form>
    </center>
{% endblock %}